@font-face {
  font-family: Franklin Gothic;
  src: url(/assets/FranklinGothicNKCond.c803024341ab2e4a72248f4fe2bf14e9.eot);
  src: url(/assets/FranklinGothicNKCond.c803024341ab2e4a72248f4fe2bf14e9.eot?#iefix)
      format("embedded-opentype"),
    url(/assets/FranklinGothicNKCond.c82648ee140a14fa9b17b3b087e13fc9.woff2)
      format("woff2"),
    url(/assets/FranklinGothicNKCond.348f877c14906e03fc00029c52e07e85.woff)
      format("woff"),
    url(/assets/FranklinGothicNKCond.f2025a7ebf2afaf6ae47f768f59886ba.ttf)
      format("truetype"),
    url(/assets/FranklinGothicNKCond.8873e0fb821a26f9fcd341a1a3dad7a4.svg#FranklinGothicNKCond)
      format("svg");
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: NK Franklin;
  src: url(/assets/NKFranklin-Regular.80f393472e545d19628e814357673491.woff)
      format("woff"),
    url(/assets/NKFranklin-Regular.dbf7ea34d16f7b65ee5275c653fe9d04.woff2)
      format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: NK News Gothic;
  src: url(/assets/NKNewsGothic-Regular.8faf2d95cfbceba44dc23591a0d1dd5e.woff)
      format("woff"),
    url(/assets/NKNewsGothic-Regular.d18b32055d32dbbf045a28072dd172c2.woff2)
      format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: NK News Gothic Bold;
  src: url(/assets/NKNewsGothic-Bold.5476e07ad18fbe4377310debd22b16da.woff)
      format("woff"),
    url(/assets/NKNewsGothic-Bold.414b95e0a03e462e0d70bfb2281f896d.woff2)
      format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: block;
}
 {
  /*!
   * Bootstrap Reboot v4.5.0 (https://getbootstrap.com/)
   * Copyright 2011-2020 The Bootstrap Authors
   * Copyright 2011-2020 Twitter, Inc.
   * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
   * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
   */
}
.grecaptcha-badge {
  display: none !important;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
body {
  margin: 0;
  font-family: NK News Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #232323;
  text-align: left;
  background-color: #fff;
}
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[data-original-title],
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a:not([href]),
a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}
code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  font-size: 1em;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
select {
  word-wrap: normal;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
div#CookieReportsBanner {
  padding-bottom: 0;
  background-color: #1a1a1a;
  z-index: 10 !important;
}
div#CookieReportsBanner .wscrBannerContent {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 28px;
  margin-bottom: 28px;
  width: 768px;
  max-width: calc(100% - 28px);
}
div#CookieReportsBanner .wscrHeading {
  font-family: NK Franklin, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 7px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
@media (min-width: 768px) {
  div#CookieReportsBanner .wscrHeading {
    font-size: 18px;
    line-height: 18px;
  }
}
div#CookieReportsBanner p {
  font-family: NK News Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top: 7px;
  margin-bottom: 7px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;
}
@media (min-width: 480px) {
  div#CookieReportsBanner p {
    margin-bottom: 7px;
  }
}
@media (min-width: 768px) {
  div#CookieReportsBanner p {
    font-size: 12px;
  }
}
div#CookieReportsBanner .wscrBannerContentInner {
  display: flex;
  margin: 0 !important;
  clear: none !important;
  flex-direction: column;
}
@media (min-width: 480px) {
  div#CookieReportsBanner .wscrBannerContentInner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
div#CookieReportsBanner .wscrOk:link,
div#CookieReportsBanner .wscrOk:visited {
  display: inline-flex;
  justify-content: center;
  height: 46px;
  line-height: 1.5;
  border: 1px solid #fff;
  background-color: #1a1a1a;
  color: #fff;
  font-weight: 400;
  float: none;
  box-sizing: border-box;
  flex: 0 0 auto;
  text-align: center;
  margin: 14px auto 0 !important;
}
@media (min-width: 992px) {
  div#CookieReportsBanner .wscrOk:link,
  div#CookieReportsBanner .wscrOk:visited {
    transition: color 0.2s ease-out, background-color 0.2s ease-out,
      border-color 0.2s ease-out;
  }
  div#CookieReportsBanner .wscrOk:link:hover,
  div#CookieReportsBanner .wscrOk:visited:hover {
    background-color: #1a1a1a;
    border-color: #fff;
    color: #fff;
  }
}
div#CookieReportsBanner .wscrOk2:link,
div#CookieReportsBanner .wscrOk2:visited,
div#CookieReportsBanner .wscrOk:link,
div#CookieReportsBanner .wscrOk:visited {
  font-family: NK News Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 14px;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  div#CookieReportsBanner .wscrOk2:link,
  div#CookieReportsBanner .wscrOk2:visited,
  div#CookieReportsBanner .wscrOk:link,
  div#CookieReportsBanner .wscrOk:visited {
    margin: 0 !important;
  }
}
div#CookieReportsBanner .wscrOk2:link,
div#CookieReportsBanner .wscrOk2:visited {
  margin-top: 14px;
}
div#CookieReportsBanner a.wscrBannerLink {
  font-family: NK News Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 21px;
  font-size: 12px !important;
  font-weight: 400;
}
@media (min-width: 992px) {
  div#CookieReportsBanner a.wscrBannerLink {
    transition: color 0.2s ease-out;
  }
  div#CookieReportsBanner a.wscrBannerLink:hover {
    color: #7f7f7f;
  }
}
div#CookieReportsBanner a[aria-describedby="wscrExternalText"] {
  display: none !important;
}
div#CookieReportsBanner #CookieReportsBannerDescription {
  margin-bottom: 10px;
}
div#CookieReportsBanner #CookieReportsBannerDescription p {
  text-align: justify;
}
div#CookieReportsAccordion {
  overflow: hidden;
}
div#CookieReportsAccordion #wscrAccordionInjectContent .wscrSectionCount,
div#CookieReportsAccordion #wscrAccordionInjectContent .wscrSectionTitle {
  color: #232323;
  font-size: 16px;
  line-height: 16px;
}
@media (min-width: 992px) {
  div#CookieReportsAccordion #wscrAccordionInjectContent .wscrSectionCount,
  div#CookieReportsAccordion #wscrAccordionInjectContent .wscrSectionTitle {
    font-size: 18px;
    line-height: 18px;
  }
}
div#CookieReportsAccordion #wscrAccordionInjectContent .wscrSectionTitle {
  font-family: NK Franklin, Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
div#CookieReportsAccordion #wscrAccordionInjectContent .wscrSectionCount {
  font-family: NK News Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}
div#CookieReportsAccordion
  #wscrAccordionInjectContent
  > a[aria-describedby="wscrExternalText"],
div#CookieReportsAccordion #wscrAccordionInjectContent > span {
  display: none !important;
}
div#CookieReportsAccordion .wscrSectionDescription {
  margin: 0;
}
div#CookieReportsAccordion .wscrSectionDescription a,
div#CookieReportsAccordion .wscrSectionDescription p {
  font-family: NK News Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
div#CookieReportsAccordion .wscrSectionDescription p {
  color: #232323;
  line-height: 1.5;
  margin: 0 0 14px;
  padding: 0;
}
@media (min-width: 768px) {
  div#CookieReportsAccordion .wscrSectionDescription p {
    font-size: 16px;
  }
}
div#CookieReportsAccordion .wscrSectionDescription a {
  color: #1a1a1a;
  line-height: 21px;
}
@media (min-width: 992px) {
  div#CookieReportsAccordion .wscrSectionDescription a {
    transition: color 0.2s ease-out;
  }
  div#CookieReportsAccordion .wscrSectionDescription a:hover {
    color: #7f7f7f;
  }
}
div#CookieReportsAccordion .wscrSectionDescription strong {
  font-family: NK Franklin, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin-top: 28px;
  color: #232323;
  display: block;
}
div#CookieReportsAccordion em {
  font-family: NK News Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #232323;
}
div#CookieReportsAccordion .CookieReportsAccordionSection {
  margin-bottom: 14px;
}
div#CookieReportsAccordion
  .CookieReportsAccordionSection
  .CookieReportsAccordionHeading {
  height: 46px;
  padding: 0;
}
div#CookieReportsAccordion
  .CookieReportsAccordionSection
  .CookieReportsAccordionHeading:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMTQ0IDc3LjcxbDE3OC42OCAxNzguNDdMMTQ0IDQzNC42NWwyMi43MSAyMi43MUwzNjguMSAyNTYuMTggMTY2LjcxIDU1eiIgZmlsbD0iY3VycmVudENvbG9yIj48L3BhdGg+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 18px;
  width: 46px;
  height: 46px;
  top: 0;
  right: -14px;
  transform: rotate(90deg);
  position: absolute;
  display: flex;
  font-size: 0;
  content: "";
  transition: transform 0.2s ease-out;
}
div#CookieReportsAccordion
  .CookieReportsAccordionSection
  .CookieReportsAccordionHeading.wscrSectionOpen:after {
  transform: rotate(-90deg);
}
div#CookieReportsAccordion .CookieReportsAccordionCookies {
  margin-top: 28px;
  margin-bottom: 28px;
}
div#CookieReportsAccordion
  .CookieReportsAccordionCookies
  .wscrCookiesColumns.wscrToggleOpened
  .wscrField-description
  div,
div#CookieReportsAccordion .CookieReportsAccordionCookies table td,
div#CookieReportsAccordion .CookieReportsAccordionCookies table thead th {
  font-family: NK News Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
}
div#CookieReportsAccordion .CookieReportsAccordionCookies > p,
div#CookieReportsAccordion .CookieReportsAccordionCookies table td {
  color: #232323;
}
div#CookieReportsAccordion .CookieReportsAccordionCookies table thead th {
  background-color: #1a1a1a;
}
@media (min-width: 768px) {
  div#CookieReportsAccordion .CookieReportsAccordionCookies table thead th {
    font-size: 16px;
  }
}
div#CookieReportsAccordion .CookieReportsAccordionCookies > p {
  font-family: NK News Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
@media (min-width: 768px) {
  div#CookieReportsAccordion .CookieReportsAccordionCookies > p {
    font-size: 16px;
  }
}
div#CookieReportsAccordion
  .CookieReportsAccordionCookies
  table
  tr
  td:first-child {
  padding-top: 14px;
}
div#CookieReportsAccordion
  .CookieReportsAccordionCookies
  table
  td.wscrMoreLess {
  width: 30px;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
div#CookieReportsAccordion
  .CookieReportsAccordionCookies
  table
  td.wscrMoreLess
  > span {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMTQ0IDc3LjcxbDE3OC42OCAxNzguNDdMMTQ0IDQzNC42NWwyMi43MSAyMi43MUwzNjguMSAyNTYuMTggMTY2LjcxIDU1eiIgZmlsbD0iY3VycmVudENvbG9yIj48L3BhdGg+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 14px;
  background-color: transparent;
  transform: rotate(90deg);
  font-size: 0;
  transition: transform 0.2s ease-out;
}
div#CookieReportsAccordion
  .CookieReportsAccordionCookies
  .wscrCookiesColumns.wscrToggleOpened
  .wscrMoreLess
  span {
  transform: rotate(-90deg);
}
div#CookieReportsAccordion
  .CookieReportsAccordionCookies
  .wscrCookiesColumns.wscrToggleOpened
  .wscrField-description
  div {
  margin-top: 14px;
  padding-right: 14px;
  padding-left: 14px;
}
div#CookieReportsAccordion .CookieReportsAccordionCookies .wscrMoreLessIcon {
  display: none !important;
}
div#CookieReportsAccordion
  .CookieReportsAccordionCookies
  .CookieReportsAccordionInlineHeading {
  font-size: 12px;
  font-family: NK News Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-left: 14px;
  font-weight: 700;
  text-align: left;
  width: 60px;
}
div#CookieReportsAccordion .wscrSwitchValues .wscrSwitchLabel:before {
  background-color: #3ca300;
  content: "";
}
div#CookieReportsAccordion .wscrSwitchValues .wscrSwitchLabel:after {
  background-color: #7f7f7f;
  content: "";
}

/*# sourceMappingURL=browser.bundle.3981e93438a96babf8bd.css.map*/
