.mi {
  flex-basis: 50%;
}

.mk {
  height: 156px;
}

.ml {
  top: 25px;
}

.mm {
  margin-bottom: 21px;
}

.mp {
  z-index: 8;
}
.mr {
  z-index: 7;
}

.ms {
  pointer-events: auto;
}

.mt {
  border-bottom-color: rgb(42, 42, 42);
}

.mu {
  padding-top: 44px;
}
.mv {
  padding-bottom: 44px;
}

.mw {
  grid-template-columns: repeat(5, 1fr);
}

.mx {
  gap: 0px 24px;
}
.my {
  list-style: none;
}

.mz {
  margin-bottom: 21px;
}

.n0 {
  font-weight: 700;
}

.n1 {
  max-width: 200px;
}

.n4 {
  flex-direction: column-reverse;
}

.n5 {
  margin-top: 42px;
}

.n6 {
  width: calc(46.5116% - 0px);
}

@media (min-width: 768px) {
  .ak {
    width: calc(100vw - (100vw - 100%) - 28px * 2);
  }
}
