@media (max-width: 991px) {
  .gi {
    min-height: unset;
  }

  .lu {
    justify-content: center;
    -webkit-box-pack: center;
  }
}

@media (max-width: 767px) {
  .gy {
    flex-wrap: wrap;
    -webkit-box-lines: multiple;
  }
}

@media (min-width: 768px) {
  . .ak {
    width: calc(100vw - (100vw - 100%) - 28px * 2);
  }

  .gg {
    font-size: 16px;
  }

  .gr {
    line-height: 24px;
  }

  .gs {
    letter-spacing: 0.4px;
  }

  .gt {
    font-size: 24px;
  }

  .i5 {
    font-size: 14px;
  }

  .ja {
    font-size: 15px;
  }

  .jb {
    line-height: normal;
  }

  .js {
    margin-bottom: 21px;
  }

  .kf {
    line-height: 30px;
  }
}

@media (min-width: 992px) {
  .al {
    width: calc(100vw - (100vw - 100%) - 42px * 2);
  }

  .b8 {
    height: auto;
  }

  .bb {
    width: 250px;
  }

  .bc {
    overflow: hidden;
  }

  .bd {
    position: relative;
  }

  .be {
    justify-content: space-between;
    -webkit-box-pack: justify;
  }

  .bf {
    border-bottom-width: 0;
  }

  .bg {
    transform: translateX(80px);
  }

  .bh {
    transition-property: transform;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
  }

  .bi {
    transition-duration: 200ms;
  }

  .bj {
    transition-timing-function: ease-out;
  }

  .dg {
    padding-right: 0;
  }

  .dh {
    padding-left: 7px;
  }

  .di {
    border-bottom-width: 1px;
  }

  .dj {
    border-bottom-style: solid;
  }

  .dk {
    border-bottom-color: #b3b3b3;
  }

  .e8 {
    transition-property: color, background-color, border;
    -webkit-transition-property: color, background-color, border;
    -moz-transition-property: color, background-color, border;
  }

  .e9 {
    transition-duration: 0.2s;
  }

  .ea {
    padding-left: 14px;
  }

  .eb {
    min-width: auto;
  }

  .ec {
    background-color: #ffffff;
  }

  .gh {
    min-height: unset;
  }

  .gz {
    margin-bottom: 0;
  }

  .ha {
    min-height: 65px;
  }

  .hv {
    margin-left: -21px;
  }

  .i0 {
    padding-left: 21px;
  }

  .i1 {
    padding-bottom: 35px;
  }

  .i9 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .ia {
    min-height: 420px;
  }

  .ib {
    border-bottom-color: #979797;
  }

  .jk {
    margin-bottom: 14px;
  }

  .jl {
    font-size: 16px;
  }

  .kh {
    font-size: 32px;
  }

  .lo {
    transition-property: border-color;
    -webkit-transition-property: border-color;
    -moz-transition-property: border-color;
  }

  .ly {
    bottom: 0;
  }

  .dl:focus {
    border-bottom-width: 1px;
  }

  .dm:focus {
    border-bottom-style: solid;
  }

  .dn:focus {
    border-bottom-color: #b3b3b3;
  }

  .do::placeholder {
    font-size: 11px;
  }

  .hi:hover {
    border-left-color: #1a1a1a;
  }

  .hj:hover {
    border-right-color: #1a1a1a;
  }

  .hk:hover {
    border-top-color: #1a1a1a;
  }

  .hl:hover {
    border-bottom-color: #1a1a1a;
  }

  .hm:hover {
    color: #1a1a1a;
  }

  .hn:hover {
    background-color: #ffffff;
  }

  .jx:hover {
    color: #ffffff;
  }

  .jy:hover {
    background-color: #1a1a1a;
  }

  .ko:hover {
    color: #232323;
  }
}

@media (min-width: 1200px) {
  .ic {
    min-height: 460px;
  }

  .k9 {
    height: 400px;
  }

  .ka {
    width: 560px;
  }
}

@media (min-width: 1560px) {
  .id {
    min-height: 520px;
  }

  .kb {
    height: 400px;
  }

  .kc {
    width: 780px;
  }
}
